.app-container{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    
}
.nav-container {
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content:space-around;
    align-items: center;;
    background-color:white;
    height:5vh;
}
.list-container {
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
    list-style-type: none;

    

}
.btn-1 {
    background-color:rgb(0, 128, 255);
    color:white;
    width:90px;
    outline:none;
    border:none;
    height:30px;
}
.item {
    color:black;
    font-size:14px;
    font-weight:bold;
    font-family:"Roboto";
}
.btn-2 {
    background-image: linear-gradient(to right, #ffd11a , #ff3333 );
    width:200px;
    height:40px;

}
.animation-container {
    width:100vw;
    height:70vh;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    50% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin:auto;
}
.waveWrapperInner {
    position:absolute;
    width: 100%;
    overflow: hidden;
    height: 90%;
    bottom: -1px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    background-image: linear-gradient(to right, #ffd11a 20%, #ff3333 80%);
}
.sun-container {
    background-image:radial-gradient(circle, #ff3333 20%, #ffff00 80%);
    
    border-radius:10000px;
    width:500px;
    height:500px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
